
<body>
  <div class="d-flex justify-content-center">
  <h1>Form Validation</h1></div>
<div class="d-flex justify-content-center">

  <form [formGroup]="formValidation" (submit)="send()">

    <div class="form-group mt-3">

    <!-- Name -->
    <label for="name">Nombre:</label>
    <input type="text" class="form-control" id="name"
    formControlName="name"></div>
    
    <div class="form-group mt-2 mb-3">
      <!-- Email -->
      <label for="email" >Email:</label>
      <input type="text" class="form-control" id="email"
      formControlName="email"> </div>

    <div class="form-group mt-2 mb-3">
      <!-- Message -->
      <label for="message" >Message:</label>
      <textarea type="text" class="form-control" id="message"
      rows="6"
      cols="20"
      formControlName="message"> </textarea></div>
    
    <div class="form-group mt-2 mb-3 d-flex justify-content-center">
      <!-- Button -->
      <button  class="form-control" (click)="send()" [disabled]="formValidation.invalid" >Confirmar</button></div>
    
    <div class="form-group mt-2 mb-3 d-flex justify-content-center">
      <p>{{Mensaje}}
      </p>
    </div>
    
  </form>

  <p></p>

</div>
</body>